{{>Header}}


<link rel="stylesheet" href="/assets/homeStyle.css">

    <section class="homeSection">
        <div class="container">
            <h1>Welcome to my Website</h1>
            
            <p>Projet Web</p>

            <p>in this Website you can find the basket-courts in Marseille <br>
                this Website is consists: <br>
                <ul>
                    Different pages:
                    <li>to look all the courts in Marseille</li>
                    <li>to read the informations about the cours and see some images</li>
                    <li>to create a new Court</li>
                    <li>a login page</li>
                    <li>a sing-up page</li>
                </ul>
            
            </p>

            
        </div>
    </section>
{{footer}}