{{> header}}

  </section>
    <form action="/create" method="post">
      <div class="container">
        <div>
          <h1> Create a new court  </h1>

          <p>Court Name : <br> <input type="text" name="nameCourt"></p>
          <p>Image of ?? : <br> <input type="text" name="imgLogo"></p>
          <p>Image of GMaps : <br><input type="text" name="imgMaps"></p>
          <p>Description : <br> <textarea rows="15" cols="120" name="description"></textarea></p>
          <p>Address : <br><input type="text" name="adresse" ></p>
          <p>Capacity :<br> <input type="text" name="capacity"></p>
          <P>Images:</P>
          <p>Image1 <br> <input type="text" name="img" ></p>
          <p>Image2 <br> <input type="text" name="img" ></p>
          <p>Image3 <br> <input type="text" name="img" ></p>
          <p>Image4 <br> <input type="text" name="img" ></p>
          


          <input type="submit" value="Créer">
        </div>
      </div>
    </form>
  </div>
  
{{> footer}}
